<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard page
    </title>
    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />

    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>
    <div class="page page--dashboard">
        <aside class="page_aside aside vertical">
            <div class="aside_logo text text--light">Sidebar</div>
            <nav class="vertical vertical--small">
                <a href="#" class="nav-button nav-button--active click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/home.svg');"></span>
                    <span class="text text--light">Home</span>
                </a>
            </nav>

            <nav class="vertical vertical--small">
                <a href="#" class="nav-button click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/order.svg');"></span>
                    <span class="text text--light">Order</span>
                </a>
            </nav>
            <nav class="vertical vertical--small">
                <a href="#" class="nav-button click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/products.svg');"></span>
                    <span class="text text--light">Products</span>
                </a>
            </nav>
        </aside>
        <header class="header">
            <div class="header__content text--small">
                <div class="header__search relative">
                    <input type="text" placeholder="Search" class="text afield field--header">
                    <span class="icon header__icon--search"
                        style="background-image: url('/svg/header/search.svg');"></span>
                    <span class="icon header__icon--settings icon--button icon--color--blue click"
                        style="background-image: url('/svg/header/settings.svg');"></span>
                </div>
                <div class="header_icon_least relative">
                    <span class="icon header__icon--signal icon--button icon--color--yellow"
                        style="background-image: url('/svg/header/signal.svg');"></span>
                    <span class="icon header__icon--translate icon--button icon--color--blue--light"
                        style="background-image: url('/svg/header/translate.svg');"></span>
                    <span class="icon header__icon--bell icon--button icon--color--yellow"
                        style="background-image: url('/svg/header/bell.svg');"></span>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="layout">
                <section class="box analytic__block">
                    <div class="analytic analytic--double analytic--purple">
                        <span class="icon analytic__button icon--button icon--color--purple click"
                            style="background-image: url('/svg/analytic/money.svg');"></span>

                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--light">$500.00</div>
                            <div class="text text--lighter text--small">Total earning</div>
                            <span class="icon analytic__arrow"
                                style="background-image: url('/svg/analytic/arrow.svg');"></span>
                        </div>
                    </div>

                    <div class="analytic analytic--double analytic--blue">
                        <span class="icon analytic__button icon--button icon--color--blue click"
                            style="background-image: url('/svg/analytic/order.svg');"></span>

                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--light">$961</div>
                            <div class="text text--lighter text--small">Total Order</div>
                        </div>
                    </div>

                    <div class="analytic analytic__box vertical vertical--small analytic--blue">
                        <span class="icon analytic__button icon--button icon--color--blue click"
                            style="background-image: url('/svg/analytic/money.svg');"></span>

                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--small--title text--light">$203k</div>
                            <div class="text text--lighter text--small">Total Income</div>
                        </div>
                    </div>
                    <div class="analytic analytic__box vertical vertical--small analytic--border">
                        <span class="icon analytic__button icon--button icon--color--yellow click"
                            style="background-image: url('/svg/analytic/shop.svg');"></span>

                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--small--title ">$203k</div>
                            <div class="text text--gray text--small">Total Income</div>
                        </div>
                    </div>
                </section>

                <div class="main__double">
                    <div class="purchase">
                        <div class="text text--heading">Purchase list</div>
                        <hr class="divider">
                        <div class="purchase__main">
                            <div class="purchase__order vertical vertical--small">
                                <div class="text">ID437661</div>
                                <div class="text">AirOn ProCam</div>
                                <div class="text">132.32 EUR</div>
                                <div class="text">Customer</div>
                                <div class="text">May 11, 2023, 14:21</div>
                                <div class="text">7/8 USB Type-C</div>
                                <div class="text text--warning">Not paid</div>
                                <div class="text">robin@com.de</div>
                            </div>
                            <hr class="divider">
                            <div class="purchase__order vertical vertical--small">
                                <div class="text">ID437661</div>
                                <div class="text">PHILIPS Essential</div>
                                <div class="text">543 USD</div>
                                <div class="text">Customer</div>
                                <div class="text">May 11, 2023, 14:21</div>
                                <div class="text">HD9200/90</div>
                                <div class="text text--success">Pay by Stripe</div>
                                <div class="text">dima@com.ua</div>
                            </div>
                        </div>
                    </div>
                    <div class="payment">
                        <div class="text text--heading">Payment</div>
                        <hr class="divider">
                        <div class="payment__radio text vertical--small">
                            <div><input type="radio">Credit card</input></div>
                            <div><input type="radio">Debit card</input></div>
                            <div><input type="radio">PayPal</input></div>
                        </div>
                        <hr class="divider">
                        <div class="payment__info">
                            <div class="vertical vertical--small">
                                <label class="text">Name on card</label>
                                <input type="text" class="field">
                            </div>
                            <div class="vertical vertical--small">
                                <label class="text">Credit card number</label>
                                <input type="text" class="field">
                            </div>
                            <div class="vertical vertical--small">
                                <label class="text">Expiration</label>
                                <input type="text" class="field">
                            </div>
                            <div class="vertical vertical--small">
                                <label class="text">CVV</label>
                                <input type="text" class="field">
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="payment__info ">
                            <div class="relative click vertical vertical--small">
                                <label class="text">Country</label>
                                <div class="field field--select ">
                                    <span class="text">Choose...</span>
                                    <span class="field_icon--select icon"
                                        style="background-image: url('/svg/select.svg');"></span>
                                </div>
                                <select class="field__select">
                                    <option value="dog">dog</option>
                                    <option value="cat">cat</option>
                                    <option value="spider">spider</option>
                                    <option value="parrot">parrot</option>
                                </select>
                            </div>
                            <div class="relative click vertical vertical--small">
                                <label class="text">State</label>
                                <div class="field field--select ">
                                    <span class="text">Choose...</span>
                                    <span class="field_icon--select icon"
                                        style="background-image: url('/svg/select.svg');"></span>
                                </div>
                                <select class="field__select">
                                    <option value="dog">dog</option>
                                    <option value="cat">cat</option>
                                    <option value="spider">spider</option>
                                    <option value="parrot">parrot</option>
                                </select>
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="payment__button text text--light">Continue to checkout</div>


                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>