{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="p-5 box">
    <h1>USB хаasdasdб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user">USB хаasdasdб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

    <button type="button" class="button">Купити</button>
    <p>sdjfsidjfhsd</p>
</div>

<div class="p-5 box">
    <b>lbalbabalb </b>
    <h1>USB хаasdasdб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <p>alah acbar</p>
    <h2 id="user">USB хаasdasdб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

    <button type="button" class="button">Купити</button>

    <em>
        <p>sdjfsidjfhsd</p>
    </em>
</div>


{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}
    <div class="card p-3 m-3 card-dark">
        <ul>
            <li class="item">1</li>
            <li class="item">2</li>
            <li class="item">3</li>
            <li class="item">4</li>
        </ul>
    </div>
    <div class="card p-3 m-3 card-dark">
        <ul>
            <li class="item">1</li>
        </ul>
    </div>
    <div class="card p-3 m-3 card-dark">
        <ul>
            <div class="item">1</div>
            <p class="item">22</p>
            <p class="item">333</p>
        </ul>
    </div>

    <div class="card p-3 m-3 card-dark">
        <input class="input-dark" required>
    </div>

    <div class="card p-3 m-3 card-dark">
        <a class="link" href="#test">click</a>
    </div>

    <div id=test class="card p-3 m-3 card-dark">
        <input>
    </div>